p.mainpage {
    padding: 2rem;
    border-radius: 1rem;
    bottom: -75px;
    margin: 0.5rem;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.container {
    padding: 2rem;
    border-radius: 1rem;
    bottom: -75px;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    width: 40%;
    margin: 2rem auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
    
    }
body {
    background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgb(165, 94, 77) 7%, rgb(165, 133, 125) 100%, rgb(206, 153, 143) 36%, rgb(226, 143, 143) 45%, rgb(187, 130, 116) 26%);
          
}

