* {
    margin: 0;
    padding: 0;
    user-select: none;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("https://www.stonecoldprofessor.com/img/congruent_pentagon.png");
}

h1 {
    margin: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

div.links {
    text-align: center;
    margin-top: auto;
    padding: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;

}

div.pizzasize {
    font-size: large;
}

legend {
    font-size: larger;
}

ul li {
    display: inline-block;
    list-style: none;
}

img {
    width: 5rem;
    height: 5rem;
}

.bg-grey {
    background-color: grey;

}

.bg-light {
    background-color: #eee;
}



.mb {
    margin-bottom: 10px;

}

.text-center {
    text-align: center;
}

.card {
    padding: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

div.crust {
    font-size: x-large;
    font-weight: bold;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

.pizza-o {
    width: 30px;
    height: auto;
    margin: 0;
}

div.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
}

p.about {

    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h1.about-us {
    text-align: center;

}

div.fb {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

div.feedback {
    padding: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: white;
    width: 40%;
    margin: 2rem auto;
    text-align: center;
}

h1.homepage {
    text-align: center;
}

h1.contact {
    text-align: center;
}

div.exterior {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

div.owner {
    font-size: large;
    position: relative;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1.5rem;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

p.Welcome {
    padding: 2rem;
    border-radius: 1rem;
    bottom: -75px;
    margin: 0.5rem;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    font-size: large;
}

div.img-contact {
    margin: auto;
    width: 35%;
    bottom: 50px;
    border: 1px transparent black;
    padding: 2px;

}

div.contactinfo {
    font-size: large;
    position: relative;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1.5rem;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

ul.menu {
    list-style-type: none;
  }
  
  li.top {
    display: inline-block;
  }
  
  input[type="checkbox"][id^="cb"] {
    display: none;
  }
  
  label.topper {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  label.topper::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked+label {
    border-color: #ddd;
  }
  
  :checked+label::before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
  
  :checked+label.topper img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  }

