*{margin: 0; padding: 0;}

/*Provides the color for the top half of the image. The 50vh gives a viewpoint keeping it centered against the grass. It shape is that of a rectangle*/

div.sky {
    width: 100%;
    height: 50vh;
    border: transparent;
    background-color:skyblue;  
}
/* Z-index brings the yellow cicle to above div.sunbeam. The background-color:yellow provides contrast to the circle shape provided by the border-radius. */

div.sun {
    position: absolute;
    margin-top: -500px;
    margin-left: 25%;
    width: 150px;
    height: 150px;
    border: transparent;
    background-color:yellow;  
    border-radius: 1000px;
    z-index: 100;
}

/*Goldenrod color to contrast against the yellow of the sun. Transform to rotate the square by 41 degrees. The displacement is used to provide a star effect to the sun*/

div.sunbeam
{
    position: absolute;
    margin-top: -500px;
    margin-left: 25%;
    width: 150px;
    height: 150px;
    border: transparent;
    background-color:goldenrod;  
    transform: rotate(41deg);
}

/*Goldenrod color to contrast against the yellow of the sun. Transform to rotate the square by 78 degrees. The displacement is used to provide a star effect to the sun*/

div.sunbeam-1
{
    position: absolute;
    margin-top: -500px;
    margin-left: 25%;
    width: 150px;
    height: 150px;
    border: transparent;
    background-color:goldenrod;  
    transform: rotate(78deg);
}

/*Goldenrod color to contrast against the yellow of the sun. Transform to rotate the square by 100 degrees. The displacement is used to provide a star effect to the sun*/

div.sunbeam-2
{
    position: absolute;
    margin-top: -500px;
    margin-left: 25%;
    width: 150px;
    height: 150px;
    border: transparent;
    background-color:goldenrod;  
    transform: rotate(100deg);
}

/*Goldenrod color to contrast against the yellow of the sun. Transform to rotate the square by 145 degrees.*/

div.sunbeam-3
{
    position: absolute;
    margin-top: -500px;
    margin-left: 25%;
    width: 150px;
    height: 150px;
    border: transparent;
    background-color:goldenrod;  
    transform: rotate(145deg);
}

/*Background-color to apply the effect of grass. height:50vh to maintain a relative view height of 50%. It shape is that of a rectangle*/
div.grass {
    width: 100%;
    height: 50vh;
    border-top: thin;
    border: transparent;
    background-color:rgb(21, 197, 21);
    margin-bottom: 5px;
}

/*Position absolute using document body. Boarder-Radius is used to provide a non troditional shape. Color blue to add the apperance of water*/
div.pond 
{
    position: absolute;
    top: 58%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
    width: 550px;
    height: 400px;
    background-color: blue;
    border-radius: 50% 10% 80% 25% 
}

/*Provides tree tops. This one is narrower due to the use of boarder left,right and bottom to form the shape of a triangle.*/

div.tree {
    width: 0;
    height: 0;
    margin-top: -370px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(2, 82, 2);
 }

/*Position absolute using document body. Applies color to the div to brown through background-color. Positions and placement through margin-left 35px*/

div.trunk {
    position: absolute;
    background-color: rgb(99, 44, 10);
    height: 5%;
    width: 20px;
    margin-left: 35px;
} 

/*Provides the triangle shape of the tree tops. The color provided by background color with the boarder-width controlling the shape of the tree*/

div.tree-1 {
    border-color: transparent transparent rgb(2, 82, 2);
    border-style: solid;
    border-width: 0px 200px 200px 200px;
    height: 0px;
    width: 0px;
}

/*Position absolute using document body. Applies color to the div to brown through background-color. Positions and placement through margin-left at 175px*/

div.trunk-1 {
    position: absolute;
    background-color: rgb(99, 44, 10);
    height: 5%;
    width: 20px;
    margin-left: 175px;
} 

/*Provides the triangle shape of the tree tops. The color provided by background color with the boarder-width controlling the shape of the tree*/

div.tree-2 {
    border-color: transparent transparent rgb(2, 82, 2);
    border-style: solid;
    margin-top: -250px;
    margin-left: 72%;
    border-width: 0px 200px 200px 200px;
    height: 0px;
    width: 0px;
}

/* Position absolute using document body. Applies color to the div to brown through background-color. Positions and placement through margin-left at 81%*/

div.trunk-2 {
    position: absolute;
    background-color: rgb(99, 44, 10);
    height: 5%;
    width: 20px;
    margin-left: 81%;
}
