*{margin: 0; padding: 0;}

ul li, ul li a
{
    display: inline-block;
}

ul
{  
    text-align: right;
    padding: 5px;
    background-color: rgb(122, 119, 119)
}

.active
{
    background-color: rgb(254, 254, 255);

}

ul li a:hover
{
    color:rgb(29, 5, 238)
}

ul li a
{
    padding: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    border-radius: 5px 5px 0 0
}
