* {
    margin: 0;
    padding: 0;
    user-select: none;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("https://www.stonecoldprofessor.com/img/congruent_pentagon.png");
}

h1 {
    margin: 10px;
}

div.links {
    text-align: center;
    margin-top: auto;
    padding: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;

}

div.pizzasize {
    font-size: large;
}

legend {
    font-size: larger;
}

ul li {
    display: inline-block;
    list-style: none;
}

img {
    width: 5rem;
    height: 5rem;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.check {
    padding: 1rem;
}

.bg-grey {
    background-color: grey;

}

.bg-light {
    background-color: #eee;
}

.justify-center {
    justify-content: center;
}

.mb {
    margin-bottom: 10px;

}

.text-center {
    text-align: center;
}

.card {
    padding: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

div.crust {
    font-size: xx-large;
    font-weight: bold;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

.pizza-o {
    width: 30px;
    height: auto;
    margin: 0;
}

div.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

p.about {

    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h1.about-us {
    text-align: center;

}

div.fb {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

div.feedback {
    padding: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: white;
    width: 40%;
    margin: 2rem auto;
    text-align: center;
}

h1.homepage {
    text-align: center;
}

h1.contact {
    text-align: center;
}

div.exterior {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.owner {
    font-size: large;
    position: relative;
    bottom: 150px;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1.5rem;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

p.Welcome {
    padding: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

div.img-contact {
    margin: auto;
    width: 35%;
    bottom: 50px;
    border: 1px transparent black;
    padding: 2px;

}